@import url('https://fonts.googleapis.com/css?family=Sriracha');

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	color: #202020;
}

pre {
	border-left: .25rem solid #202020;
}

mark {
	margin: 0.75rem 0.5rem;
	padding: 2px 6px;
}

.body-text {
	margin-bottom: 2rem;
}

.footer-text {
	color: #888888;
	font-weight: 300;
	font-size: 0.8rem;
}

.main-title {
	font-family: 'Sriracha', cursive;
	font-size: 2.75rem;
}

.title {
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.step-title {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.version {
	display: inline-block;
	border-radius: 4px;
	border: 1px solid #f46c0e;;
	padding: 0 8px;
	color: #f46c0e;
}

.group {
	margin: 0 0 3rem 0;
}

.description {
	font-weight: 300;	
}

.full-height {
	height: auto;
	min-height: 100vh;
}

.half-height {
	height: auto;
	min-height: 50vh;
}

.flex-container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.half-flex-container {
	min-height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.white-section {
	background-color: #ffffff;
}

.grey-section {
	background-color: #F8F8F8;
}

.fa {
	padding-right: 7px;
	font-size: 1.5rem;
}

.center {
	text-align: center;
}

.container {
	max-width: 980px;
}

.logo {
	width: 180px;
}

a.button, .button  {
	position: relative;
	display: inline-block;
	width: 230px;
	height: 50px;
	box-sizing: border-box;
	font-size: 1.3rem;
	font-weight: 300;
	border-radius: 4px;
}

a.button-outline , .button-outline {
	position: relative;
	display: inline-block;
	width: 200px;
	height: 50px;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 300;
	border-radius: 4px;
	border: 1px solid #202020;
	color: #202020;
	background-color: transparent;
	line-height: 2.2rem;
    white-space: nowrap;
	vertical-align: middle;
	padding: 6px 12px;
}

a.button-outline:visited, .button-outline:visited {
	color: #202020;
}
a.button-outline:hover, a.button-outline:focus, .button-outline:hover, .button-outline:focus {
    background-color: #202020;
    color: #ffffff;
	border-color: #fff;
	opacity: 1;
}

.demo-icon:hover { 
	color: #f46c0e; 
}

.demo-icon {
	font-size: 5rem;
	margin: 1rem;
	display: inline-block;
}